<% content_for(:title, "Log in") %>

<h1>Log in</h1>

<div class="new">
  <%= form_with url: login_path, scope: :session, class: "new-form", local: true do |form| %>
    <div class="new-form-item">
      <%= form.label :name %>
      <%= form.text_field :name, class: "new-form-item-content" %>
    </div>
    <div class="new-form-item">
      <%= form.label :password %>
      <%= form.password_field :password, class: "new-form-item-limit" %>
    </div>
    <div class="new-form-submit">
      <%= form.submit "log in", class: "submit-button" %>
    </div>
  <% end %>
</div>
<%= link_to "戻る", goals_path %>