<% content_for(:title, "user show") %>

<p class="user-name">
  <%= @user.name %>
</p>
<%= link_to("edit", edit_user_path) %>
<%= link_to("delete", @user, method: "delete",
                             data: { confirm: "本当にいいですか?" }) %>
<p>
  <%= link_to("goals", user_goals_path(@user)) %>
</p>
<p>
  <%= link_to("work records", user_work_records_path(@user)) %>
</p>
<p>
  <%= link_to("back", users_path) %>
</p>
